- if notice
  = render :partial => "shared/notice", :locals => { :notice => notice }
%div{:style => 'width: 180px; margin: 0px auto;'}
  = link_to image_tag("add_payment_method_button.jpg", :border=>0), new_payment_method_path, :class => 'editLink', :id => 'addPayment_methodLink', :style => 'width: 300px; margin: 0px auto;'
%table
  %tr
    %th.th1 №
    %th.th1 Вид расчёта
    %th.th1 Открыть

  - @payment_methods.each do |payment_method|
    %tr{ :class => cycle('odd','even') }
      %td.th3= payment_method.id
      %td.th3= payment_method.payment_method
      %td.th3= link_to 'Открыть', payment_method, :id => "showPayment_methodLink"

%br
%div{ :style => 'width: 10%; margin: 0px auto;' }
  = will_paginate(@payment_method, :previous_label => '&#8592;', :next_label => '&#8594;')
