<%= form_for(@carrier_company) do |f| %>
  <% if @carrier_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@carrier_company.errors.count, "error") %> prohibited this carrier_company from being saved:</h2>

      <ul>
      <% @carrier_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :legal_address %><br />
    <%= f.text_field :legal_address %>
  </div>
  <div class="field">
    <%= f.label :actual_address %><br />
    <%= f.text_field :actual_address %>
  </div>
  <div class="field">
    <%= f.label :company_type %><br />
    <%= f.text_field :company_type %>
  </div>
  <div class="field">
    <%= f.label :ogrn %><br />
    <%= f.text_field :ogrn %>
  </div>
  <div class="field">
    <%= f.label :okpo %><br />
    <%= f.text_field :okpo %>
  </div>
  <div class="field">
    <%= f.label :inn %><br />
    <%= f.text_field :inn %>
  </div>
  <div class="field">
    <%= f.label :kpp %><br />
    <%= f.text_field :kpp %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :fax %><br />
    <%= f.text_field :fax %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :current_account %><br />
    <%= f.text_field :current_account %>
  </div>
  <div class="field">
    <%= f.label :bank %><br />
    <%= f.text_field :bank %>
  </div>
  <div class="field">
    <%= f.label :correspondent_account %><br />
    <%= f.text_field :correspondent_account %>
  </div>
  <div class="field">
    <%= f.label :bik %><br />
    <%= f.text_field :bik %>
  </div>
  <div class="field">
    <%= f.label :operates_basis %><br />
    <%= f.text_field :operates_basis %>
  </div>
  <div class="field">
    <%= f.label :company_face %><br />
    <%= f.text_field :company_face %>
  </div>
  <div class="field">
    <%= f.label :manager_name %><br />
    <%= f.text_field :manager_name %>
  </div>
  <div class="field">
    <%= f.label :respons_refuse_loading_day %><br />
    <%= f.text_field :respons_refuse_loading_day %>
  </div>
  <div class="field">
    <%= f.label :respons_idle_excessively_hours %><br />
    <%= f.text_field :respons_idle_excessively_hours %>
  </div>
  <div class="field">
    <%= f.label :respons_idle_excessively_percent %><br />
    <%= f.text_field :respons_idle_excessively_percent %>
  </div>
  <div class="field">
    <%= f.label :respons_payment_late %><br />
    <%= f.text_field :respons_payment_late %>
  </div>
  <div class="field">
    <%= f.label :respons_transport_replacement_req %><br />
    <%= f.text_field :respons_transport_replacement_req %>
  </div>
  <div class="field">
    <%= f.label :respons_compensation_for_damage %><br />
    <%= f.text_field :respons_compensation_for_damage %>
  </div>
  <div class="field">
    <%= f.label :respons_undeliver_transport_loading %><br />
    <%= f.text_field :respons_undeliver_transport_loading %>
  </div>
  <div class="field">
    <%= f.label :respons_transport_late_loading_hours %><br />
    <%= f.text_field :respons_transport_late_loading_hours %>
  </div>
  <div class="field">
    <%= f.label :respons_transport_late_loading_percent %><br />
    <%= f.text_field :respons_transport_late_loading_percent %>
  </div>
  <div class="field">
    <%= f.label :respons_transport_late_destination_hours %><br />
    <%= f.text_field :respons_transport_late_destination_hours %>
  </div>
  <div class="field">
    <%= f.label :respons_transport_late_destination_percent %><br />
    <%= f.text_field :respons_transport_late_destination_percent %>
  </div>
  <div class="field">
    <%= f.label :respons_document_late %><br />
    <%= f.text_field :respons_document_late %>
  </div>
  <div class="field">
    <%= f.label :black_label %><br />
    <%= f.check_box :black_label %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
