%div{:style => 'width: 270px; margin: 0px auto;'}
  = link_to image_tag("add_carrier_company_button.jpg", :border=>0), new_carrier_company_path, :class => 'editLink', :id => 'addCarrier_companyLink', :style => 'width: 300px; margin: 0px auto;'
%table
  %tr
    %th.th1 №
    %th.th1 Название
    %th.th1 Фактический адрес
    %th.th1 Телефон
    %th.th1 Открыть

  - @carrier_companies.each do |carrier_company|
    %tr{ :class => cycle('odd','even') }
      %td.th3= carrier_company.id
      %td.th3= carrier_company.title
      %td.th3= carrier_company.actual_address
      %td.th3= carrier_company.phone
      %td.th3= link_to 'Открыть', carrier_company, :id => "showCarrier_companyLink"

%br
%div{ :style => 'width: 10%; margin: 0px auto;' }
  = will_paginate(@carrier_company, :previous_label => '&#8592;', :next_label => '&#8594;')
