<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @carrier_company.title %>
</p>

<p>
  <b>Legal address:</b>
  <%= @carrier_company.legal_address %>
</p>

<p>
  <b>Actual address:</b>
  <%= @carrier_company.actual_address %>
</p>

<p>
  <b>Company type:</b>
  <%= @carrier_company.company_type %>
</p>

<p>
  <b>Ogrn:</b>
  <%= @carrier_company.ogrn %>
</p>

<p>
  <b>Okpo:</b>
  <%= @carrier_company.okpo %>
</p>

<p>
  <b>Inn:</b>
  <%= @carrier_company.inn %>
</p>

<p>
  <b>Kpp:</b>
  <%= @carrier_company.kpp %>
</p>

<p>
  <b>Phone:</b>
  <%= @carrier_company.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @carrier_company.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @carrier_company.email %>
</p>

<p>
  <b>Current account:</b>
  <%= @carrier_company.current_account %>
</p>

<p>
  <b>Bank:</b>
  <%= @carrier_company.bank %>
</p>

<p>
  <b>Correspondent account:</b>
  <%= @carrier_company.correspondent_account %>
</p>

<p>
  <b>Bik:</b>
  <%= @carrier_company.bik %>
</p>

<p>
  <b>Operates basis:</b>
  <%= @carrier_company.operates_basis %>
</p>

<p>
  <b>Company face:</b>
  <%= @carrier_company.company_face %>
</p>

<p>
  <b>Manager name:</b>
  <%= @carrier_company.manager_name %>
</p>

<p>
  <b>Respons refuse loading day:</b>
  <%= @carrier_company.respons_refuse_loading_day %>
</p>

<p>
  <b>Respons idle excessively hours:</b>
  <%= @carrier_company.respons_idle_excessively_hours %>
</p>

<p>
  <b>Respons idle excessively percent:</b>
  <%= @carrier_company.respons_idle_excessively_percent %>
</p>

<p>
  <b>Respons payment late:</b>
  <%= @carrier_company.respons_payment_late %>
</p>

<p>
  <b>Respons transport replacement req:</b>
  <%= @carrier_company.respons_transport_replacement_req %>
</p>

<p>
  <b>Respons compensation for damage:</b>
  <%= @carrier_company.respons_compensation_for_damage %>
</p>

<p>
  <b>Respons undeliver transport loading:</b>
  <%= @carrier_company.respons_undeliver_transport_loading %>
</p>

<p>
  <b>Respons transport late loading hours:</b>
  <%= @carrier_company.respons_transport_late_loading_hours %>
</p>

<p>
  <b>Respons transport late loading percent:</b>
  <%= @carrier_company.respons_transport_late_loading_percent %>
</p>

<p>
  <b>Respons transport late destination hours:</b>
  <%= @carrier_company.respons_transport_late_destination_hours %>
</p>

<p>
  <b>Respons transport late destination percent:</b>
  <%= @carrier_company.respons_transport_late_destination_percent %>
</p>

<p>
  <b>Respons document late:</b>
  <%= @carrier_company.respons_document_late %>
</p>

<p>
  <b>Black label:</b>
  <%= @carrier_company.black_label %>
</p>


<%= link_to 'Edit', edit_carrier_company_path(@carrier_company) %> |
<%= link_to 'Back', carrier_companies_path %>
