<br />
<div style="width: 170px; margin: 0px auto;"> 
  <%= link_to image_tag("add_user_button.jpg", :border=>0), new_user_path, :class => 'editLink', :id => 'addUserLink', :style => 'width: 300px; margin: 0px auto;' %>
</div>
<table>
  <tr>
    <th class="th1">№</th>
    <th class="th1">ФИО</th>
    <th class="th1">Должность</th>
    <th class="th1">Город</th>
    <th class="th1">моб.тел.</th>
    <th class="th1">Открыть</th>
  </tr>

  <% @users.each do |user| %>
    <tr <%= cycle('class=odd','class=even') %>> 
      <td class="th3"><%= user.id %></td>
      <td class="th3"><%= user.lastname+' '+user.firstname+' '+user.middlename %></td>
      <td class="th3"><%= user.position %></td>
      <td class="th3"><%= user.city %></td>
      <td class="th3"><%= user.mobile_phone_business %></td>
      <td class="th3"><%= link_to 'Открыть', user, :id => "showDriverLink"  %></td>
    </tr>
  <% end %>
  </table>
<br />
