<p id="notice"><%= notice %></p>

<p>
  <b>Lastname:</b>
  <%= @user.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%= @user.firstname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @user.middlename %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>District:</b>
  <%= @user.district %>
</p>

<p>
  <b>Street:</b>
  <%= @user.street %>
</p>

<p>
  <b>House:</b>
  <%= @user.house %>
</p>

<p>
  <b>Housing:</b>
  <%= @user.housing %>
</p>

<p>
  <b>Apartment:</b>
  <%= @user.apartment %>
</p>

<p>
  <b>Mobile phone business:</b>
  <%= @user.mobile_phone_business %>
</p>

<p>
  <b>Mobile phone personal:</b>
  <%= @user.mobile_phone_personal %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Icq:</b>
  <%= @user.icq %>
</p>

<p>
  <b>Skype:</b>
  <%= @user.skype %>
</p>

<p>
  <b>Home phone:</b>
  <%= @user.home_phone %>
</p>

<p>
  <b>Passport series:</b>
  <%= @user.passport_series %>
</p>

<p>
  <b>Passport issue date:</b>
  <%= @user.passport_issue_date %>
</p>

<p>
  <b>Passport issue whom:</b>
  <%= @user.passport_issue_whom %>
</p>

<p>
  <b>Passport address:</b>
  <%= @user.passport_address %>
</p>

<p>
  <b>Citizenship:</b>
  <%= @user.citizenship %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @user.date_of_birth %>
</p>

<p>
  <b>About:</b>
  <%= @user.about %>
</p>

<p>
  <b>Position:</b>
  <%= @user.position %>
</p>

<p>
  <b>Salary:</b>
  <%= @user.salary %>
</p>

<p>
  <b>Premium percent:</b>
  <%= @user.premium_percent %>
</p>

<p>
  <b>Request percent:</b>
  <%= @user.request_percent %>
</p>

<p>
  <b>Global experience:</b>
  <%= @user.global_experience %>
</p>

<p>
  <b>Unbroken experience:</b>
  <%= @user.unbroken_experience %>
</p>

<p>
  <b>Visluga let:</b>
  <%= @user.visluga_let %>
</p>

<p>
  <b>University:</b>
  <%= @user.university %>
</p>

<p>
  <b>Speciality:</b>
  <%= @user.speciality %>
</p>

<p>
  <b>Inn:</b>
  <%= @user.inn %>
</p>

<p>
  <b>Pensionnoe:</b>
  <%= @user.pensionnoe %>
</p>

<p>
  <b>Medical insurance:</b>
  <%= @user.medical_insurance %>
</p>

<p>
  <b>Working contract:</b>
  <%= @user.working_contract %>
</p>

<p>
  <b>Type:</b>
  <%= @user.type %>
</p>

<p>
  <b>Role:</b>
  <%= @user.role %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
