- content_for(:head) do
  - javascript_include_tag '/javascripts/jquery-datetimeentry/jquery.datetimeentry.js'
- content_for(:head) do
  - stylesheet_link_tag '/javascripts/jquery-datetimeentry/jquery.datetimeentry.css'
- content_for(:head) do
  - javascript_include_tag 'datetime'
- content_for(:head) do
  - javascript_include_tag 'validation'
- content_for(:head) do
  - javascript_include_tag 'transport_select'
- if params[:action] == 'new' || params[:action] == 'save_as'
  - content_for(:head) do
    - javascript_include_tag 'request_add'
  - content_for(:head) do
    - javascript_include_tag 'cargopoints'
- if params[:action] == 'edit' || params[:action] == 'show'
  - content_for(:head) do
    - javascript_include_tag 'request_edit'
  - content_for(:head) do
    - javascript_include_tag 'cargopoints_edit'
- if params[:action] == 'save_as'
  - content_for(:head) do
    - javascript_include_tag 'save_as_clean'
- args = params[:action] == 'save_as' ? {:url => create_sas_path, :html => { :class => 'new_request', :id => 'new_request' } } : {}
= form_for @request, args do |f|
  -if @request.errors.any?
    %div{:style => "width: 450px; margin: 0px auto;", :id => "error_explanation"}
      %h2{:align=>'center'} Чтобы сохранить:
      - if @request.errors
        - @request.errors.each do |key,message|
          = message
          %br/
    %br/
  %div{ :style => 'width:250px; margin: 0px auto;' }
    %span.title.borNone
      Тип документа
      %br/
      %br/
      .radio
        = radio_button_tag 'request[request_type]', 'request' , @request.request_type == 'request' || (params[:action] == 'new' && @request.request_type == nil) ? true : nil
        = label_tag "request", "Заявка"
        %br/
      .radio
        = radio_button_tag 'request[request_type]', 'contract_request', @request.request_type == 'contract_request' ? true : nil
        = label_tag "contract_request", "Договор-заявка"
        %br/

  %table{ :width => '1280px', :class => 'request', :cellspacing=> '0' }
    %col{ :id => 'one',   :width => '140px' }
    %col{ :id => 'two',   :width => '140px' }
    %col{ :id => 'three', :width => '140px' }
    %col{ :id => 'four',  :width => '140px' }
    %col{ :id => 'five',  :width => '20px' }
    %col{ :id => 'six',   :width => '140px' }
    %col{ :id => 'seven', :width => '140px' }
    %col{ :id => 'eight', :width => '140px' }
    %col{ :id => 'nine',  :width => '140px' }

    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %hr
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br
    %tr
      %td{ :class=>'borNone title', :align=>'center', :colspan=>9 }
        Информация о грузе
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br
    %tr
      %td{ :class=>'borNone subTitle', :align=>'center', :colspan=>4 }
        Параметры груза
      %td{ :class=>'fieldBetween' }
      %td{ :class=>'borNone subTitle', :align=>'center', :colspan=>4 }
        Дополнительные условия
    %tr
      %td{ :class=>'fieldName fieldInnerTopLeft', :colspan=> 2 }
        Класс груза
      %td{ :class=>'fieldForm fieldInnerTopRight', :colspan=> 2 }
        = f.collection_select :cargo_classification_id, CargoClassification.find(:all), :id, :classification, { :include_blank => true },
          { :class => 'inp required' }
      %td.fieldBetween
      %td{ :class=>'fieldName fieldInnerTopLeft', :colspan=> 2 }
        Europallet(0.8*1.0)м
      %td{ :class=>'fieldForm fieldInnerTopRight', :colspan=> 2 }
        != "#{f.text_field :evropallet, :class => 'inp', :size => '2'} шт"
    %tr
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Название груза
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        = f.text_field :item, :class => 'inp required', :size => '25'
      %td.fieldBetween
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Ruspallet(1.0*1.2)м
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        != "#{f.text_field :bigpallet, :class => 'inp', :size => '2'} шт"
    %tr
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Объем груза
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        != "#{f.text_field :volume, :class => 'inp', :size => '4' } м/куб"
      %td.fieldBetween
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Кол-во ремней
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        != "#{f.text_field :belts_count, :class => 'inp', :size => 2} шт"
    %tr
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Вес груза
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        != "#{f.text_field :weight, :class => 'inp', :size => '4'} тонн"
      %td.fieldBetween
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Конники, выс.
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        != "#{f.text_field :crate_body, :class => 'inp', :size => '2'} м"
    %tr
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Температ. режим:
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        != "#{f.text_field :temperature, :class => 'inp', :size => '10'} &deg;C"
      %td{ :class=>'fieldBetween' }
      %td{ :class=>'fieldName fieldInnerMiddleLeft', :colspan=> 2 }
        Другие условия
      %td{ :class=>'fieldForm fieldInnerMiddleRight', :colspan=> 2 }
        = f.text_field :other_conditions, :class => 'inp', :size => 25
    %tr
      %td{ :class=>'fieldName fieldInnerBottomLeft', :colspan=> 2 }
        Габариты груза:
      %td{ :class=>'fieldForm fieldInnerBottomRight', :colspan=> 2 }
        != "#{f.text_field :length, :class => 'inp', :size => '8', :id => 'length'} #{f.text_field :width, :class => 'inp', :size => '8', :id => 'width'} #{f.text_field :height, :class => 'inp', :size => '8', :id => 'height'} м"
      %td.fieldBetween
      %td{ :class=>'fieldName fieldInnerBottomLeft', :colspan=> 2 }
        Условия погрузки
      %td{ :class=>'fieldForm fieldInnerBottomRight', :colspan=> 2 }
        !="#{f.check_box :loading_up, :class => 'inp'} верх #{f.check_box :loading_down, :class => 'inp'} зад #{f.check_box :loading_side, :class => 'inp'} бок"
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %hr
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br
    %tr
      %td{ :class=>'title borNone', :align=>'center', :colspan=>9 }
        Информация о компаниях
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br
    %tr
      %td{ :class=>'borNone subTitle', :align=>'center', :colspan=>4 }
        Компания заказчик
      %td.fieldBetween
      %td{ :class=>'borNone subTitle', :align=>'center', :colspan=>4 }
        Компания перевозчик
    %tr
      %td{ :class=>'customer fieldName', :colspan=> 1, :style =>'border: 3px black solid; border-right: 1px black solid;' }
        Компания:
      %td{ :class=>'customer fieldForm', :colspan=> 3, :style=>'border: 3px black solid; border-left: 1px black solid;' }
        = f.collection_select :customer_company_id, CustomerCompany.find(:all), :id, :name, { :include_blank => true },
          { :class => 'inp required' }
        %span#addButton
          %a{ :style => 'margin-left:20px;', :target => '_blank', :href => '/customer_companies/new' }
            %img{ :alt => 'button', :src => '/images/add_button.gif' }
      %td.fieldBetween
      %td{ :class=>'carrier fieldName fieldInnerTopLeft', :align => 'left', :colspan=> 1 }
        Компания
      %td{ :class=>'carrier fieldInnerTopRight', :colspan => 3 }
        = f.collection_select :carrier_company_id, CarrierCompany.find(:all), :id, :name, { :include_blank => true },
          { :class => 'inp required' }
        %span#addButton
          %a{ :style => 'margin-left:100px;', :target => '_blank', :href => '/carrier_companies/new' }
            %img{ :alt => 'button', :src => '/images/add_button.gif' }
    %tr
      %td{ :class=>'borNone', :colspan=>4 }
      %td.fieldBetween
      %td{ :class=>'carrier fieldName fieldInnerMiddleLeft', :colspan => 1, :align => 'left' }
        Водитель
      %td{ :class=>'carrier fieldInnerMiddleRight', :colspan => 3}
        =f.collection_select :driver_id, Driver.find(:all), :id, :full_name, { :include_blank => true },
          { :class => 'inp required' }
        %span#addButton
          %a{ :style => 'margin-left:28px;', :target => '_blank', :href => "/drivers/new" }
            %img{ :alt=>'button', :src => '/images/add_button.gif'}
    %tr
      %td{ :class=>'borNone', :colspan=>4 }
      %td.fieldBetween
      %td{ :class => 'carrier fieldName fieldInnerBottomLeft', :colspan => 1, :align => 'left' }
        Автомобиль
      %td{ :class => 'carrier fieldInnerBottomRight', :colspan => 3}
        =f.collection_select :car_id, Car.find(:all), :id, :full_name, { :include_blank => true },
          { :class => 'inp required' }
        %span#addButton
          %a{ :style => 'margin-left:94px;', :target=>'_blank', :href=>'/cars/new' }
            %img{ :alt => 'button', :src => '/images/add_button.gif'}
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %hr
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'title borNone', :align=>'center', :colspan=>9 }
        Информация о маршруте
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    - actions_edit_and_show = ['edit','show']
    %tbody#point1
      %tr
        %td{ :class => 'borNone subTitle', :align => 'center', :colspan => 4 }
          Погрузка
        %td.fieldBetween
        %td{ :class => 'borNone subTitle', :align => 'center', :colspan => 4 }
          Разгрузка
      %tr
        %td{ :class => 'borNone', :align => 'center', :colspan => 4 }
          %span{ :style => 'font-style:italic; text-decoration:underline;' }
            Первая точка погрузки
        %td.fieldBetween
        %td{ :class => 'borNone', :align => 'center', :colspan => 4 }
          %span{ :style => 'font-style:italic; text-decoration:underline;' }
            Первая точка разгрузки
      %tr
        %td{ :colspan => 2, :class => 'fieldName fieldInnerTopLeft' }
          Дата, время погрузки:
        %td{ :colspan => 2, :class => 'fieldInnerTopRight fieldForm', :id => 'loadingDateForm1' }
          = f.fields_for 'loading_point1' do |loading_point_form|
            != "#{loading_point_form.text_field :date, :id => 'loadingDate1', :name => 'request[loading_points_attributes][0][date]', :size => 10, :class => 'inp ddateshort required', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.date.strftime("%Y-%m-%d") : nil } до:#{loading_point_form.text_field :time, :name => 'request[loading_points_attributes][0][time]', :size => 5, :class => 'inp', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.time : nil}"
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'fieldName fieldInnerTopLeft' }
          Дата, время разгрузки:
        %td{ :colspan => 2, :class => 'fieldInnerTopRight fieldForm', :id => 'unloadingDateForm1' }
          = f.fields_for :unloading_point1 do |unloading_point_form|
            != "#{unloading_point_form.text_field :date, :id => 'unloadingDate1', :name => 'request[unloading_points_attributes][0][date]', :size => 10, :class => 'inp required ddateshort', :value => edit_or_show_action_and_point_exist(@up) ? @up.date.strftime("%Y-%m-%d") : nil } до:#{unloading_point_form.text_field :time, :name => 'request[unloading_points_attributes][0][time]', :size => 5, :class => 'inp', :value => edit_or_show_action_and_point_exist(@up) ? @up.time : nil}"
      %tr
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Адрес погрузки:
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :loading_point1 do |loading_point_form|
            = loading_point_form.text_field :address, :name => 'request[loading_points_attributes][0][address]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.address : nil
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Адрес разгрузки:
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :unloading_point1 do |unloading_point_form|
            = unloading_point_form.text_field :address, :name => 'request[unloading_points_attributes][0][address]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@up) ? @up.address : nil
      %tr
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Грузоотправитель:
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :loading_point1 do |loading_point_form|
            = loading_point_form.text_field :shipper, :name => 'request[loading_points_attributes][0][shipper]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.shipper : nil
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Грузополучатель:
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :unloading_point1 do |unloading_point_form|
            = unloading_point_form.text_field :consignee, :name => 'request[unloading_points_attributes][0][consignee]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@up) ? @up.consignee : nil
      %tr
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Контактное лицо:
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :loading_point1 do |loading_point_form|
            = loading_point_form.text_field :contact_person, :name => 'request[loading_points_attributes][0][contact_person]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.contact_person : nil
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Контактное лицо:
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :unloading_point1 do |unloading_point_form|
            = unloading_point_form.text_field :contact_person, :name => 'request[unloading_points_attributes][0][contact_person]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@up) ? @up.contact_person : nil
      %tr
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Телефон для связи (моб):
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :loading_point1 do |loading_point_form|
            = loading_point_form.text_field :phone, :name => 'request[loading_points_attributes][0][phone]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.phone : nil
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
          Телефон для связи (моб):
        %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
          = f.fields_for :unloading_point1 do |unloading_point_form|
            = unloading_point_form.text_field :phone, :name => 'request[unloading_points_attributes][0][phone]', :size => 25, :class => 'inp required', :value => edit_or_show_action_and_point_exist(@up) ? @up.phone : nil
      %tr
        %td{ :colspan => 2, :class => 'fieldName fieldInnerBottomLeft' }
          Телефон для связи (раб):
        %td{ :colspan => 2, :class => 'fieldInnerBottomRight fieldForm' }
          = f.fields_for :loading_point1 do |loading_point_form|
            = loading_point_form.text_field :phone_work, :name => 'request[loading_points_attributes][0][phone_work]', :size => 25, :class => 'inp', :value => edit_or_show_action_and_point_exist(@lp) ? @lp.phone_work : nil
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'fieldName fieldInnerBottomLeft' }
          Телефон для связи (раб):
        %td{ :colspan => 2, :class => 'fieldInnerBottomRight fieldForm' }
          = f.fields_for :unloading_point1 do |unloading_point_form|
            = unloading_point_form.text_field :phone_work, :name => 'request[unloading_points_attributes][0][phone_work]', :size => 25, :class => 'inp', :value => edit_or_show_action_and_point_exist(@up) ? @up.phone_work : nil
      %tr
        %td{ :colspan => 2, :class => 'borNone', :align => 'left', :id => 'loadingButton', :num => 1 }
          %p#loadingButton0
        %td{ :colspan => 2, :class => 'borNone', :id => 'loadingButtonDelete', :num => 1, :style => 'background:none; cursor:default;' }
        %td.fieldBetween
        %td{ :colspan => 2, :class => 'borNone', :align => 'left', :id => 'unloadingButton', :num => 1 }
          %p
        %td{ :colspan => 2, :class => 'borNone', :id => 'unloadingButtonDelete', :num => 1, :style => 'background:none; cursor:default;' }
    - if params[:action] == 'edit' || params[:action] == 'show'
      = render  :partial => 'points', :locals => { :f => f }
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %hr
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'title borNone', :align=>'center', :colspan=>9 }
        Расчет стоимости (основной тариф)
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'borNone subTitle', :align => 'center', :colspan => 4 }
        Заказчику
      %td.fieldBetween
      %td{ :class=>'borNone subTitle', :align => 'center', :colspan => 4 }
        Перевозчику
    %tr
      %td{ :class=>'borNone customerPayMethodButton', :state => 'dog', :align => 'center', :colspan => 4 }
        %span{ :id =>'cusSdel', :style => 'font-size:16px;' }
          Сдельная
        %span#cusPovr
          Повременная
      %td.fieldBetween
      %td{ :class=>'borNone carrierPayMethodButton', :state => 'dog', :align => 'center', :colspan => 4 }
        %span{ :id =>'carSdel', :style => 'font-size:16px;' }
          Сдельная
        %span#carPovr
          Повременная
      %tbody#rateVariants
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %hr
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'title borNone', :align=>'center', :colspan=>9 }
        Расчет стоимости (дополнительные услуги)
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'borNone subTitle', :align => 'center', :colspan => 4 }
        Заказчику
      %td.fieldBetween
      %td{ :class=>'borNone subTitle', :align => 'center', :colspan => 4 }
        Перевозчику
    %tr
      %td{ :align => 'center', :class => 'fieldInnerTopLeft', :style => "background:#de808e; color:white; font-weight: bold;" }
        Доп. услуги
      %td{ :align => 'center', :class => 'fieldInnerMediumTop', :style => "background:#de808e; color:white; font-weight: bold;" }
        Норматив
      %td{ :align => 'center', :class => 'fieldInnerMediumTop', :style => "background:#de808e; color:white; font-weight: bold;" }
        Стоимость
      %td{ :align => 'center', :class => 'fieldInnerTopRight', :style => "background:#de808e; color:white; font-weight: bold;" }
        Сумма
      %td.fieldBetween
      %td{ :align => 'center', :class => 'fieldInnerTopLeft', :style => "background:#de808e; color:white; font-weight: bold;" }
        Доп. услуги
      %td{ :align => 'center', :class => 'fieldInnerMediumTop', :style => "background:#de808e; color:white; font-weight: bold;" }
        Норматив
      %td{ :align => 'center', :class => 'fieldInnerMediumTop', :style => "background:#de808e; color:white; font-weight: bold;" }
        Стоимость
      %td{ :align => 'center', :class => 'fieldInnerTopRight', :style => "background:#de808e; color:white; font-weight: bold;" }
        Сумма
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft', :style => 'border-top:1px black solid;'}
        Переработка:
      %td{:class => 'customer fieldInnerMediumMiddle', :style => 'border-top:1px black solid;'}
        != "#{f.text_field :customer_dop_prab_count, :id => 'customerDopPrabCount', :class => 'inp', :size => '2'}часа"
      %td{:class => 'customer fieldInnerMediumMiddle', :style => 'border-top:1px black solid;'}
        != "#{f.text_field :customer_dop_prab_price, :id => 'customerDopPrabPrice', :class => 'inp', :size => '6'}руб./час"
      %td{:class => 'customer fieldInnerMiddleRight', :style => 'border-top:1px black solid;'}
        != "#{f.text_field :customer_dop_prab_summ, :id => 'customerDopPrabSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft', :style => 'border-top:1px black solid;'}
        Переработка:
      %td{:class => 'carrier fieldInnerMediumMiddle', :style => 'border-top:1px black solid;'}
        != "#{f.text_field :carrier_dop_prab_count, :id => 'carrierDopPrabCount', :size => '2', :class => 'inp'}часа"
      %td{:class => 'carrier fieldInnerMediumMiddle', :style => 'border-top:1px black solid;'}
        != "#{f.text_field :carrier_dop_prab_price, :id => 'carrierDopPrabPrice', :size => '6', :class => 'inp'}руб./час"
      %td{:class => 'carrier fieldInnerMiddleRight', :style => 'border-top:1px black solid;'}
        != "#{f.text_field :carrier_dop_prab_summ, :id => 'carrierDopPrabSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Д/т погрузки:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_dop_tochka_pogr_count, :id => 'customerDopDopTochkaPogrCount', :size => '2', :class => 'inp'}точка"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_dop_tochka_pogr_price, :id => 'customerDopDopTochkaPogrPrice', :size => '6', :class => 'inp'}руб./точка"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_dop_tochka_pogr_summ, :id => 'customerDopDopTochkaPogrSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Д/т погрузки:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_dop_tochka_pogr_count, :id => 'carrierDopDopTochkaPogrCount', :size => '2', :class => 'inp'}точка"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_dop_tochka_pogr_price, :id => 'carrierDopDopTochkaPogrPrice', :size => '6', :class => 'inp'}руб./точка"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_dop_tochka_pogr_summ, :id => 'carrierDopDopTochkaPogrSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Д/т разгрузки:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_dop_tochka_razgr_count, :id => 'customerDopDopTochkaRazgrCount', :size => '2', :class => 'inp'}точка"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_dop_tochka_razgr_price, :id => 'customerDopDopTochkaRazgrPrice', :size => '6', :class => 'inp'}руб./точка"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_dop_tochka_razgr_summ, :id => 'customerDopDopTochkaRazgrSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Д/т разгрузки:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_dop_tochka_razgr_count, :id => 'carrierDopDopTochkaRazgrCount', :size => '2', :class => 'inp'}точка"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_dop_tochka_razgr_price, :id => 'carrierDopDopTochkaRazgrPrice', :size => '6', :class => 'inp'}руб./точка"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_dop_tochka_razgr_summ, :id => 'carrierDopDopTochkaRazgrSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Растентовка(л/з):
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_rastentovka_count, :size => '2', :id => 'customerDopRastentovkaCount', :class => 'inp'}точка"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_rastentovka_price, :size => '6', :id=> 'customerDopRastentovkaPrice', :class => 'inp'}руб./точка"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_rastentovka_summ, :id => 'customerDopRastentovkaSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Растентовка(л/з):
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_rastentovka_count, :id => 'carrierDopRastentovkaCount', :size => '2', :class => 'inp'}точка"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_rastentovka_price, :id => 'carrierDopRastentovkaPrice', :size => '6', :class => 'inp'}руб./точка"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_rastentovka_summ, :id => 'carrierDopRastentovkaSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Перегруз:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_pereg_count, :id => 'customerDopPeregCount', :size => '2', :class => 'inp'}тонн"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_pereg_price, :id => 'customerDopPeregPrice', :size => '6', :class => 'inp'}руб./тонн"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_pereg_summ, :id => 'customerDopPeregSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Перегруз:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_pereg_count,  :id => 'carrierDopPeregCount', :size => '2', :class => 'inp'}тонн"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_pereg_price, :id => 'carrierDopPeregPrice', :size => '6', :class => 'inp'}руб./тонн"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_pereg_summ, :id => 'carrierDopPeregSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Ночная стоянка:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_night_stay_count, :id => 'customerDopNightStayCount', :size => '2', :class => 'inp'}ночь"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_night_stay_price, :id => 'customerDopNightStayPrice', :size => '6', :class => 'inp'}руб./ночь"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_night_stay_summ, :id => 'customerDopNightStaySumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Ночная стоянка:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_night_stay_count, :id => 'carrierDopNightStayCount', :size => '2', :class => 'inp'}ночь"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_night_stay_price, :id => 'carrierDopNightStayPrice', :size => '6', :class => 'inp'}руб./ночь"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_night_stay_summ, :id => 'carrierDopNightStaySumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Межгород:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_mezgorod_count, :id => 'customerDopMezgorodCount', :size => '2', :class => 'inp'}км*2"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_mezgorod_price, :id => 'customerDopMezgorodPrice', :size => '6', :class => 'inp'}руб./км"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_mezgorod_summ, :id => 'customerDopMezgorodSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Межгород:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_mezgorod_count, :id => 'carrierDopMezgorodCount', :size => '2', :class => 'inp'}км*2"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_mezgorod_price, :id => 'carrierDopMezgorodPrice', :size => '6', :class => 'inp'}руб./км"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_mezgorod_summ,  :id => 'carrierDopMezgorodSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Сопровожд.(г/о):
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_soprov_count, :id => 'customerDopSoprovCount', :size => '2', :class => 'inp'}рейс"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_soprov_price, :id => 'customerDopSoprovPrice', :size => '6', :class => 'inp'}руб./рейс"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_soprov_summ, :id => 'customerDopSoprovSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Сопровожд.(г/о):
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_soprov_count, :id => 'carrierDopSoprovCount', :size => '2', :class => 'inp'}рейс"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_soprov_price, :id => 'carrierDopSoprovPrice', :size => '6', :class => 'inp'}руб./рейс"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_soprov_summ, :id => 'carrierDopSoprovSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Возврат груза:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_vozvr_count, :id => 'customerDopVozvrCount', :size => '2', :class => 'inp'}%"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_vozvr_price, :id => 'customerDopVozvrPrice', :size => '6', :class => 'inp'}руб./рейс"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_vozvr_summ, :id => 'customerDopVozvrSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Возврат груза:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_vozvr_count, :id => 'carrierDopVozvrCount', :size => '2', :class => 'inp'}%"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_vozvr_price, :id => 'carrierDopVozvrPrice', :size => '6', :class => 'inp'}руб./рейс"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_vozvr_summ, :id => 'carrierDopVozvrSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerMiddleLeft' }
        Негабарит:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_negabarit_count, :id => 'customerDopNegabaritCount', :size => '2', :class => 'inp'}%"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_negabarit_price, :id => 'customerDopNegabaritPrice', :size => '6', :class => 'inp'}руб./рейс"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_negabarit_summ, :id => 'customerDopNegabaritSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerMiddleLeft' }
        Негабарит:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_negabarit_count, :id => 'carrierDopNegabaritCount', :size => '2', :class => 'inp'}%"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_negabarit_price, :id => 'carrierDopNegabaritPrice', :size => '6', :class => 'inp'}руб./рейс"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_negabarit_summ, :id => 'carrierDopNegabaritSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td{:class => 'customer fieldName fieldInnerBottomLeft' }
        Грузчики:
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_gruzch_count, :id => 'customerDopGruzchCount', :size => '2', :class => 'inp'}чел"
      %td{:class => 'customer fieldInnerMediumMiddle' }
        != "#{f.text_field :customer_dop_gruzch_price, :id => 'customerDopGruzchPrice', :size => '6', :class => 'inp'}руб./чел"
      %td{:class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_dop_gruzch_summ,  :id => 'customerDopGruzchSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
      %td.fieldBetween
      %td{:class => 'carrier fieldName fieldInnerBottomLeft' }
        Грузчики:
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_gruzch_count, :id => 'carrierDopGruzchCount', :size => '2', :class => 'inp'}чел"
      %td{:class => 'carrier fieldInnerMediumMiddle' }
        != "#{f.text_field :carrier_dop_gruzch_price, :id => 'carrierDopGruzchPrice', :size => '6', :class => 'inp'}руб./чел"
      %td{:class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_dop_gruzch_summ, :id => 'carrierDopGruzchSumm', :class => 'summ', :size => '6', :readonly => 'readonly'}руб."
    %tr
      %td.borNone
      %td{ :align => 'right', :colspan => 2 , :class => 'fieldInnerMiddleLeft fieldName', :style => 'border-top:1px black solid' }
        %b Итого за доп. усл. заказчику:
      %td{ :colspan => 1 , :class => 'fieldInnerMiddleRight customer', :style => 'border-top: 1px black solid; '}
        %b
          != "#{f.text_field :customer_dop_summ, :id => 'customerDopSumm', :class => 'summ', :size => 6, :readonly => 'readonly'} руб. "
      %td.fieldBetween
      %td.borNone
      %td{ :align => 'right', :colspan => 2 , :class => 'fieldInnerMiddleLeft fieldName' , :style => 'border-top:1px black solid;' }
        %b Итого за доп. усл. перевозчику:
      %td{ :colspan => 1 , :class => 'fieldInnerMiddleRight customer', :style => 'border-top:1px black solid;' }
        %b
          != "#{f.text_field :carrier_dop_summ, :id => 'carrierDopSumm', :class => 'summ', :size => 6, :readonly => 'readonly'} руб."
    %tr
      %td.borNone
      %td{ :align => 'right', :colspan => 2, :class => 'fieldInnerBottomLeft fieldName' }
        %b Всего за рейс заказчику
      %td{ :colspan => 1, :class => 'fieldInnerBottomRight', :style => 'background: #FFC0CB;' }
        %b
          != "#{f.text_field :customer_total_summ, :id => 'customerTotalSumm', :class => 'summ', :size =>8, :readonly => 'readonly'} руб."
      %td.fieldBetween
      %td.borNone
      %td{ :align => 'right', :colspan => 2, :class => 'fieldInnerBottomLeft fieldName' }
        %b Всего за рейс перевозчику
      %td{ :colspan => 1, :class => 'fieldInnerBottomRight', :style => 'background: #FFC0CB;' }
        %b
          != "#{f.text_field :carrier_total_summ, :id => 'carrierTotalSumm', :class => 'summ', :size =>8, :readonly => 'readonly'} руб."
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %hr
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'title borNone', :align=>'center', :colspan=>9 }
        Условия оплаты
    %tr
      %td{ :class=>'borNone', :align=>'center', :colspan=>9 }
        %br/
    %tr
      %td{ :class=>'borNone subTitle', :align => 'center', :colspan => 4 }
        Заказчиком
      %td.fieldBetween
      %td{ :class=>'borNone subTitle', :align => 'center', :colspan => 4 }
        Перевозчику
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerTopLeft' }
        Вид расчёта
      %td{ :colspan => 2, :class => 'customer fieldInnerTopRight' }
        = f.collection_select :customer_payment_method_id, PaymentMethod.find(:all), :id, :payment_method, { :include_blank => true },
          { :class => 'inp required' }
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerTopLeft' }
        Вид расчёта
      %td{ :colspan => 2, :class => 'carrier fieldInnerTopRight' }
        = f.collection_select :carrier_payment_method_id, PaymentMethod.find(:all), :id, :payment_method, { :include_blank => true },
          { :class => 'inp required' }
      %td.fieldBetween
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerMiddleLeft' }
        Способы оплаты:
      %td{ :colspan => 2, :class => 'customer fieldInnerMiddleRight' }
        = f.collection_select :customer_payment_way_id, PaymentWay.find(:all), :id, :payment_way, { :include_blank => true },
          { :class => 'inp required' }
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerMiddleLeft' }
        Способы оплаты:
      %td{ :colspan => 2, :class => 'carrier fieldInnerMiddleRight' }
        = f.collection_select :carrier_payment_way_id, PaymentWay.find(:all), :id, :payment_way, { :include_blank => true },
          { :class => 'inp required' }
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerMiddleLeft' }
        Сроки оплаты:
      %td{ :colspan => 2, :class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_maturity, :class => 'inp', :size => '2'} б/дн."
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerMiddleLeft' }
        Сроки оплаты:
      %td{ :colspan => 2, :class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_maturity, :class => 'inp', :size => '2'} б/дн."
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerMiddleLeft' }
        Предоплата заказчиком:
      %td{ :colspan => 2, :class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_prepayment, :class => 'inp', :size => '8'} руб."
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerMiddleLeft' }
        Предоплата перевозчику:
      %td{ :colspan => 2, :class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_prepayment, :class => 'inp', :size => '8'} руб."
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerMiddleLeft' }
        Сумма к оплате заказчику:
      %td{ :colspan => 2, :class => 'customer fieldInnerMiddleRight' }
        != "#{f.text_field :customer_summ_to_pay, :id => 'customerSummToPay', :class => 'summ', :size => '8', :readonly => 'readonly'} руб."
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerMiddleLeft' }
        Сумма к оплате перевозчику:
      %td{ :colspan => 2, :class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_summ_to_pay, :id => 'carrierSummToPay', :class => 'summ', :size => '8', :readonly => 'readonly'} руб."
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerMiddleLeft' }
        По документам:
      %td{ :colspan => 2, :class => 'customer fieldInnerMiddleRight' }
        = f.collection_select :customer_payment_doc_id, PaymentDoc.find(:all), :id, :payment_doc, { :include_blank => true },
           { :class => 'required inp' }
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerMiddleLeft' }
        По документам:
      %td{ :colspan => 2, :class => 'carrier fieldInnerMiddleRight' }
        = f.collection_select :carrier_payment_doc_id, PaymentDoc.find(:all), :id, :payment_doc, { :include_blank => true },
           { :class => 'required inp' }
    %tr
      %td{ :colspan => 2, :class => 'customer fieldName fieldInnerBottomLeft' }
        Номер счёта:
      %td{ :colspan => 2, :class => 'customer fieldInnerBottomRight' }
        = f.text_field :bill_id, :size => 3, :class => 'inp'
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerMiddleLeft' }
        Срок возвращения документов:
      %td{ :colspan => 2, :class => 'carrier fieldInnerMiddleRight' }
        != "#{f.text_field :carrier_documents_return_term, :size => 3, :class => 'inp'} б/дн."
    %tr
      %td{ :class => 'borNone', :colspan => 4 }
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'carrier fieldName fieldInnerBottomLeft' }
        Номер счета
      %td{ :colspan => 2, :class => 'carrier fieldInnerBottomRight'}
        = f.text_field :carrier_bill_id, :size => 3, :class => 'inp'
    - if params[:action] == 'edit' || params[:action] == 'show'
      = render :partial => 'responsibility', :locals => { :f => f }
    %tr
      %td{ :class => 'borNone', :align => 'center', :colspan => '9' }
        %br
    %tr
      %td{ :class => 'borNone', :align => 'center', :colspan => '9' }
        %p{:style => 'color: green;'}!="#{check_box_tag 'request[is_finished]', 1, @request.is_finished} Закрыть заявку"
    %tr
      %td{ :class => 'borNone', :align => 'center', :colspan => '9' }
        %br
    %tr
      %td{ :class => 'borNone', :align => 'center', :colspan => '9' }
        %br
    - if params[:action] != 'show'
      %tr
        %td{ :class => 'borNone', :align => 'center', :colspan => 9 }
          = f.submit 'Сохранить заявку'
