- (2..9).each do |num|
  %tbody{ :id => "point#{num}" }
    %tr
      %td{ :class => 'borNone', :id => "loadingTitle#{num}", :align => 'center', :colspan => 4 }
        %span{ :style => 'font-style:italic; text-decoration:underline;' }
          = rus_points_num(num) + ' точка погрузки'
      %td.fieldBetween
      %td{ :class => 'borNone', :id => "unloadingTitle#{num}", :align => 'center', :colspan => 4 }
        %span{ :style => 'font-style:italic; text-decoration:underline;' }
          = rus_points_num(num) + ' точка разгрузки'
    %tr
      %td{ :colspan => 2, :class => 'fieldName fieldInnerTopLeft' }
        Дата, время погрузки:
      %td{ :colspan => 2, :class => 'fieldInnerTopRight fieldForm', :id => "loadingDateForm#{num}" }
        = f.fields_for "loading_point#{num}" do |loading_point_form|
          != "#{loading_point_form.text_field :date, :id => "loadingDate#{num}", :name => 'request[loading_points_attributes]['+num.to_s+'][date]', :size => 10, :class => 'inp ddateshort required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).date.strftime("%Y-%m-%d") : nil } до:#{loading_point_form.text_field :time, :name => 'request[loading_points_attributes]['+num.to_s+'][time]', :size => 5, :class => 'inp', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).time : nil}"
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'fieldName fieldInnerTopLeft' }
        Дата, время разгрузки:
      %td{ :colspan => 2, :class => 'fieldInnerTopRight fieldForm', :id => "unloadingDateForm#{num}" }
        = f.fields_for "unloading_point#{num}" do |unloading_point_form|
          != "#{unloading_point_form.text_field :date, :id => "unloadingDate#{num}", :name => 'request[unloading_points_attributes]['+num.to_s+'][date]', :size => 10, :class => 'inp  ddateshort required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).date.strftime("%Y-%m-%d") : nil } до:#{unloading_point_form.text_field :time, :name => 'request[unloading_points_attributes]['+num.to_s+'][time]', :size => 5, :class => 'inp', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).time : nil}"
    %tr
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Адрес погрузки:
      %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "loading_point#{num}" do |loading_point_form|
          = loading_point_form.text_field :address, :id => "loadingAddress#{num}", :name => 'request[loading_points_attributes]['+num.to_s+'][address]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).address : nil
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Адрес разгрузки:
      %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "unloading_point#{num}" do |unloading_point_form|
          = unloading_point_form.text_field :address, :id => "unloadingAddress#{num}", :name => 'request[unloading_points_attributes]['+num.to_s+'][address]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).address : nil
    %tr
      %td{ :colspan => 2, :id => "loadingCompany#{num}", :class => 'fieldName fieldInnerMiddleLeft' }
        Грузоотправитель:
      %td{ :colspan => 2, :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "loading_point#{num}" do |loading_point_form|
          = loading_point_form.text_field :shipper, :id => "shipper#{num}", :name => 'request[loading_points_attributes]['+num.to_s+'][shipper]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).shipper : nil
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Грузополучатель:
      %td{ :colspan => 2, :id => "unloadingCompany#{num}", :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "unloading_point#{num}" do |unloading_point_form|
          = unloading_point_form.text_field :consignee, :id => "consignee#{num}", :name => 'request[unloading_points_attributes]['+num.to_s+'][consignee]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).consignee : nil
    %tr
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Контактное лицо:
      %td{ :colspan => 2, :id => "loadingPerson#{num}", :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "loading_point#{num}" do |loading_point_form|
          = loading_point_form.text_field :contact_person, :id => "loadingContactPerson#{num}", :name => 'request[loading_points_attributes]['+num.to_s+'][contact_person]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).contact_person : nil
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Контактное лицо:
      %td{ :colspan => 2, :id => "unloadingPerson#{num}", :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "unloading_point#{num}" do |unloading_point_form|
          = unloading_point_form.text_field :contact_person, :id => "unloadingContactPerson#{num}", :name => 'request[unloading_points_attributes]['+num.to_s+'][contact_person]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).contact_person : nil
    %tr
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Телефон для связи (моб):
      %td{ :colspan => 2, :id => "loadingMobile#{num}", :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "loading_point#{num}" do |loading_point_form|
          = loading_point_form.text_field :phone, :id => "loadingContactPhone#{num}", :name => 'request[loading_points_attributes]['+num.to_s+'][phone]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).phone : nil
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'fieldName fieldInnerMiddleLeft' }
        Телефон для связи (моб):
      %td{ :colspan => 2, :id => "unloadingMobile#{num}", :class => 'fieldInnerMiddleRight fieldForm' }
        = f.fields_for "unloading_point#{num}" do |unloading_point_form|
          = unloading_point_form.text_field :phone,  :id => "unloadingContactPhone#{num}", :name => 'request[unloading_points_attributes]['+num.to_s+'][phone]', :size => 25, :class => 'inp required_without_val', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).phone : nil
    %tr
      %td{ :colspan => 2, :class => 'fieldName fieldInnerBottomLeft' }
        Телефон для связи (раб):
      %td{ :colspan => 2, :id => "loadingWorkPhone#{num}", :class => 'fieldInnerBottomRight fieldForm' }
        = f.fields_for "loading_point#{num}" do |loading_point_form|
          = loading_point_form.text_field :phone_work, :id => "loadingPhoneWork#{num}", :name => 'request[loading_points_attributes]['+num.to_s+'][phone_work]', :size => 25, :class => 'inp', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@lp#{num}".to_sym)) ? self.instance_variable_get("@lp#{num}".to_sym).phone_work : nil
      %td.fieldBetween
      %td{ :colspan => 2, :class => 'fieldName fieldInnerBottomLeft' }
        Телефон для связи (раб):
      %td{ :colspan => 2, :id => "unloadingWorkPhone#{num}", :class => 'fieldInnerBottomRight fieldForm' }
        = f.fields_for "unloading_point#{num}" do |unloading_point_form|
          = unloading_point_form.text_field :phone_work, :id => "unloadingPhoneWork#{num}", :name => 'request[unloading_points_attributes]['+num.to_s+'][phone_work]', :size => 25, :class => 'inp', :value => edit_or_show_action_and_point_exist(self.instance_variable_get("@up#{num}".to_sym)) ? self.instance_variable_get("@up#{num}".to_sym).phone_work : nil
    %tr
      %td{ :colspan => 1, :class => 'borNone', :align => 'left', :id => 'loadingButton', :num => num }
        %p
      %td{ :colspan => 1, :class => 'borNone', :align => 'left', :id => 'loadingButtonDelete', :num => num, :style => 'background:none; cursor:default;' }
        %p
      %td{ :colspan => 2, :class => 'borNone'}
      %td.fieldBetween
      %td{ :colspan => 4, :class => 'borNone'}
