%div{:style => 'width: 170px; margin: 0px auto;'}
  = link_to image_tag("add_request_button.jpg", :border=>0), new_request_path, :class => 'editLink', :id => 'addRequestLink', :style => 'width: 300px; margin: 0px auto;'
%table
  %tr
    %th{ :class => 'th1', :colspan => 4, :rowspan => 2 } №
    %th{ :class => 'th1', :colspan => 4, :rowspan => 2 } Дата
    %th{ :class => 'th1', :colspan => 4, :rowspan => 2 } Заказчик
    %th{ :class => 'th1', :colspan => 4, :style => 'border-bottom: none;' } Маршрут движения
    %th{ :class => 'th1', :colspan => 4, :style => 'border-bottom: none;' } Перевозчик
    %th{ :class => 'th1', :colspan => 2, :style => 'border-bottom: none;' } Опл. пер-ку
    %th{ :class => 'th1', :colspan => 4, :style => 'border-bottom: none;' } Опл. зак-ком
    %th{ :class => 'th1', :colspan => 4, :rowspan => 2 }
  %tr
    %td{ :class => 'th2', :colspan => 2 } Точки погрузки
    %td{ :class => 'th2', :colspan => 2 } Точки разгрузки
    %td{ :class => 'th2', :colspan => 2 } Компания
    %td{ :class => 'th2', :colspan => 2, :style => 'text-align: center;' } Водитель
    %td{ :class => 'th2', :colspan => 1, :style => "background: url('/images/car_th_bg.png') no-repeat scroll left top transparent;" } Стоим.
    %td{ :class => 'th2', :colspan => 1, :style => "background: url('/images/car_th_bg.png') no-repeat scroll left top transparent;" } Опл.
    %td{ :class => 'th2', :colspan => 2, :style => "background: url('/images/cus_th_bg.png') no-repeat scroll left top transparent;" } Сумма заказчику
    %td{ :class => 'th2', :colspan => 2, :style => "background: url('/images/cus_th_bg.png') no-repeat scroll left top transparent;" } Опл.

  - @requests.each do |request|
    %tr{ :class => cycle('odd','even') }
      %td{ :class => 'th3', :colspan => '4' }= request.id
      %td{ :class => 'th3', :colspan => '4' }= request.created_at.strftime("%d-%m-%y %H:%M")
      %td{ :class => 'th3', :colspan => '4' }= request.customer_company.name
      %td{ :class => 'th3', :colspan => '2' }
        - request.loading_points.each do |lp|
          != "#{lp.point_number}) #{lp.address}"
          %br/
      %td{ :class => 'th3', :colspan => '2' }
        - request.unloading_points.each do |up|
          != "#{up.point_number}) #{up.address}"
          %br/
      %td{ :class => 'th3', :colspan => '2' }= request.carrier_company.name
      %td{ :class => 'th3', :colspan => '2' }= request.driver.full_name
      %td{ :class => 'th3', :colspan => '1' }= request.carrier_summ_to_pay
      %td{ :class => 'th3', :colspan => '1', :style => is_payed_to_carrier(request) ? 'background:green;' : 'background:red;' }= is_payed_to_carrier(request) ? 'Да' : 'Нет'
      %td{ :class => 'th3', :colspan => '2' }= request.customer_summ_to_pay
      %td{ :class => 'th3', :colspan => '2', :style => is_payed_by_customer(request) ? 'background:green;' : 'background:red;' }= is_payed_by_customer(request) ? 'Да' : 'Нет'
      %td{ :class => 'th3', :colspan => '4' }= link_to 'Открыть', request, :id => 'showRequestLink'

%br
%div{ :style => 'width: 10%; margin: 0px auto;' }
  = will_paginate(@request, :previous_label => '&#8592;', :next_label => '&#8594;')
