%h1{:class => "tableTitle", :style => "width: 720px; margin: 0px auto; color:red;"} Просмотр карточки вида оплаты по документам 
%br/
- content_for(:head) do 
  = javascript_include_tag 'disableForms' 
- if notice 
  = render :partial => "shared/notice", :locals => { :notice => notice }
%br/
= render 'form'
%br/ 
%br/

%div{:style =>"width: 600px; margin: 0px auto;"}
  = link_to image_tag("editButton.jpg"), edit_payment_doc_path(@payment_doc), :id => 'editPayment_docLink'
  = link_to image_tag("deleteButton.jpg"), @payment_doc, :confirm => 'Вы уверены', :id => 'deletePayment_docLink', :method => :delete
%br/
%div{:style => "width: 300px; margin: 0px auto;"}
  = link_to 'к списку видов оплат по документам', payment_docs_path
