%h1{:class => "tableTitle", :style => "width: 500px; margin: 0px auto; color:red;"} Просмотр карточки способа оплаты
%br/
- content_for(:head) do
  = javascript_include_tag 'disableForms'
%br/
= render 'form'
%br/
%br/

%div{:style =>"width: 600px; margin: 0px auto;"}
  = link_to image_tag("editButton.jpg"), edit_payment_way_path(@payment_way), :id => 'editPayment_wayLink'
  = link_to image_tag("deleteButton.jpg"), @payment_way, :confirm => 'Вы уверены', :id => 'deletePayment_wayLink', :method => :delete
%br/
%div{:style => "width: 200px; margin: 0px auto;"}
  = link_to 'к списку способов оплаты', payment_ways_path
