<%= form_for(@cartype) do |f| %>
  <% if @cartype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cartype.errors.count, "error") %> prohibited this cartype from being saved:</h2>

      <ul>
      <% @cartype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cartype %><br />
    <%= f.text_field :cartype %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
