<p>
 <%= link_to 'Добавить тип кузова', new_cartype_path, :class => 'editLink' %>
</p>
<table>
  <tr>
    <th class="th1">№</th>
    <th class="th1">Тип кузова</th>
    <th class="th1">Редактировать</th>
    <th class="th1">Удалить</th>
  </tr>
  <% @cartypes.each do |cartype| %>
    <tr <%= cycle('class=odd','class=even') %>>
      <td class="th3"><%= cartype.id %></td>
      <td class="th3"><%= cartype.cartype %></td>
      <td class="th3"><%= link_to 'Редактировать', edit_cartype_path(cartype) %></td>
      <td class="th3"><%= link_to 'Удалить', cartype, :confirm => 'Вы уверены', :method => :delete %></td>
    </tr>
  <% end %>  
</table>
                                                                                                                                
