- if notice
  = render :partial => "shared/notice", :locals => { :notice => notice }
%div{:style => 'width: 170px; margin: 0px auto;'}
  = link_to image_tag("add_<%= singular_table_name %>_button.jpg", :border=>0), new_<%= singular_table_name %>_path, :class => 'editLink', :id => 'add<%= singular_table_name.capitalize %>Link', :style => 'width: 300px; margin: 0px auto;'
%table
  %tr
<% for attribute in attributes -%>
    %th.th1 <%= attribute.human_name %>
<% end -%>
    %th.th1 Открыть

  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
    %tr { :class => cycle('odd','even') }
<% for attribute in attributes -%>
      %td.th3= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
    %td.th3= link_to 'Открыть', <%= singular_table_name %>, :id => "show<%= singular_table_name.capitalize %>Link"

%br
%div{ :style => 'width: 10%; margin: 0px auto;' }
  = will_paginate(@<%= singular_table_name %>, :previous_label => '&#8592;', :next_label => '&#8594;')
