<%= form_for(@driver) do |f| %>

  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this driver from being saved:</h2>
      <ul>
        <% @driver.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <table>
      <tr>
          <td class="fieldName fieldInnerTopLeft">Фамилия:</td>
          <td class="fieldForm fieldInnerTopRight"><%= f.text_field :lastname, :class => "inp" %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Имя:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :firstname, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerBottomLeft">Отчество:</td>
          <td class="fieldForm fieldInnerBottomRight"><%= f.text_field :middlename, :class => "inp"  %></td>
      </tr>
      <tr>
          <td style="border-width: 0px;border:none none;" align="center" colspan="2"><span style="font-style: italic; text-decoration: underline;">Компания</span></td>
      </tr>
      <tr>
          <td class="fieldName fieldBothLeft">Компания:</td>
          <td class="fieldForm fieldBothRight"><%= f.collection_select :carrier_company_id, CarrierCompany.find(:all), :id, :title, :include_blank => true %></td>
      </tr>
      <tr>
          <td style="border-width: 0px;border:none none;" align="center" colspan="2"><span style="font-style: italic; text-decoration: underline;">Адрес</span></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerTopLeft">Регион:</td>
          <td class="fieldForm fieldInnerTopRight"><%= f.text_field :region, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Город:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :city, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Район:</td> 
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :district, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Улица:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :street, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Тип:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :type, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Дом:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :house, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Корпус/лит:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :housing, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerBottomLeft">Квартира:</td>
          <td class="fieldForm fieldInnerBottomRight"><%= f.text_field :apartment, :class => "inp"  %></td>
      </tr>
      <tr>
          <td style="border-width: 0px;border:none none;" align="center" colspan="2"><span style="font-style: italic; text-decoration: underline;">Контакты</span></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerTopLeft">Мобильный телефон:</td>
          <td class="fieldForm fieldInnerTopRight"><%= f.text_field :mobile_phone, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Домашний телефон:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :home_phone, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerBottomLeft">Email:</td>
          <td class="fieldForm fieldInnerBottomRight"><%= f.text_field :email, :class => "inp"  %></td>
      </tr>
      <tr>
          <td style="border-width: 0px;border:none none;" align="center" colspan="2"><span style="font-style: italic; text-decoration: underline;">Паспортные данные</span></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerTopLeft">Гражданство:</td>
          <td class="fieldForm fieldInnerTopRight"><%= f.text_field :citizenship, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Дата рождения:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.date_select :date_of_birth, :start_year => Time.now.year, :end_year => 1940, :include_blank => true %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Паспорт серия:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :passport_series, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Паспорт номер:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.text_field :passport_number, :class => "inp"  %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerMiddleLeft">Паспорт дата выдачи:</td>
          <td class="fieldForm fieldInnerMiddleRight"><%= f.date_select :passport_issue_date, :start_year => Time.now.year, :end_year => 1970, :include_blank => true %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerBottomLeft">Паспорт кем выдан:</td>
          <td class="fieldForm fieldInnerBottomRight"><%= f.text_field :passport_issue_whom, :class => "inp"  %></td>
      </tr>
      <tr>
          <td style="border-width: 0px;border:none none;" align="center" colspan="2"><span style="font-style: italic; text-decoration: underline;">Дополнительно</span></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerTopLeft">Медицинская книжка:</td>
          <td class="fieldForm fieldInnerTopRight"><%= f.check_box :med_book %></td>
      </tr>
      <tr>
          <td class="fieldName fieldInnerBottomLeft">Примечание:</td>
          <td class="fieldForm fieldInnerBottomRight"><%= f.text_field :about, :class => "inp"  %></td>
      </tr>
      <% # Не показывать кнопку сохранить для просмотра карточки %>
      <% if !(params[:action] == 'show') %> 
        <tr>
            <td colspan="2" align="center" class="borNone"><%= f.submit "Сохранить" %></td>
        </tr>
      <% end %>
  </table>
<% end %>  
