<%= request.env["SERVER_ADDR"] %>
<% if notice %>
  <br />
  <div id='notice'><%= notice %></div>
  <br />
<% end %>
<div style="width: 170px; margin: 0px auto;"> 
    <%= link_to image_tag("add_driver_button.jpg", :border=>0), new_driver_path, :class => 'editLink', :id => 'addDriverLink', :style => 'width: 300px; margin: 0px auto;' %>
</div>
<table>
  <tr>
    <th class="th1">№</th>
    <th class="th1">ФИО</th>
    <th class="th1">Компания</th>
    <th class="th1">Город</th>
    <th class="th1">моб.тел.</th>
    <th class="th1">Открыть</th>
  </tr>
  <% @drivers.each do |driver| %>
    <tr <%= cycle('class=odd','class=even') %>>    
      <td class="th3"><%= driver.id %></td>
      <td class="th3"><%= driver.lastname+' '+driver.firstname+' '+driver.middlename %></td>
      <td class="th3"><%= driver.carrier_company.title %></td>
      <td class="th3"><%= driver.city %></td>
      <td class="th3"><%= driver.mobile_phone %></td>
      <td class="th3"><%= link_to 'Открыть', driver, :id => "showDriverLink" %></td>
    </tr>
  <% end %>
</table>
<br />
<div style="width: 10%; margin: 0px auto;">
  <%= will_paginate(@cartypes, :previous_label => '&#8592;',
                               :next_label     => '&#8594;'
                    ) %>
</div>
