<p id="notice"><%= notice %></p>

<p>
  <b>Lastname:</b>
  <%= @driver.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%= @driver.firstname %>
</p>

<p>
  <b>Middlename:</b>
  <%= @driver.middlename %>
</p>

<p>
  <b>Region:</b>
  <%= @driver.region %>
</p>

<p>
  <b>City:</b>
  <%= @driver.city %>
</p>

<p>
  <b>District:</b>
  <%= @driver.district %>
</p>

<p>
  <b>Street:</b>
  <%= @driver.street %>
</p>

<p>
  <b>Type:</b>
  <%= @driver.type %>
</p>

<p>
  <b>House:</b>
  <%= @driver.house %>
</p>

<p>
  <b>Apartment:</b>
  <%= @driver.apartment %>
</p>

<p>
  <b>Mobile phone:</b>
  <%= @driver.mobile_phone %>
</p>

<p>
  <b>Email:</b>
  <%= @driver.email %>
</p>

<p>
  <b>Home phone:</b>
  <%= @driver.home_phone %>
</p>

<p>
  <b>Passport series:</b>
  <%= @driver.passport_series %>
</p>

<p>
  <b>Passport number:</b>
  <%= @driver.passport_number %>
</p>

<p>
  <b>Passport issue date:</b>
  <%= @driver.passport_issue_date %>
</p>

<p>
  <b>Passport issue whom:</b>
  <%= @driver.passport_issue_whom %>
</p>

<p>
  <b>Carrier company:</b>
  <%= @driver.carrier_company_id %>
</p>

<p>
  <b>Citizenship:</b>
  <%= @driver.citizenship %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @driver.date_of_birth %>
</p>

<p>
  <b>About:</b>
  <%= @driver.about %>
</p>

<p>
  <b>Med book:</b>
  <%= @driver.med_book %>
</p>


<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
