%h1{:class => "tableTitle", :style => "width: 450px; margin: 0px auto; color:red;"} Просмотр карточки водителя
%br/
- content_for(:head) do 
  = javascript_include_tag 'disableForms' 
- if notice 
  = render :partial => "shared/notice", :locals => { :notice => notice }
%br/
= render 'form'
%br/ 
%br/

%div{:style =>"width: 600px; margin: 0px auto;"}
  = link_to image_tag("editButton.jpg"), edit_driver_path(@driver), :id => 'editDriverLink'
  = link_to image_tag("deleteButton.jpg"), @driver, :confirm => 'Вы уверены', :id => 'deleteDriverLink', :method => :delete
%br/
%div{:style => "width: 200px; margin: 0px auto;"}
  = link_to 'к списку водителей', drivers_path
