<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Transunion</title>
  <%= stylesheet_link_tag :all, "main", :recursive => true %>
  <%= javascript_include_tag :defaults, 'livequery_plugin' %>
  <%= javascript_include_tag "menu/ddsmoothmenu" %>
  <%= yield(:head) -%>
  <%= javascript_include_tag "jquery-validation/jquery.validate" %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    ddsmoothmenu.init({
      mainmenuid: "smoothmenu1", //menu DIV id
      orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
      classname: 'ddsmoothmenu', //class added to menu's outer DIV
      contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
    })
  </script>
</head>
<body>
  <div id="smoothmenu1" class="ddsmoothmenu">
    <ul>
      <li class="menuTitle"><a id='request' href="/requests">ЗАЯВКИ</a></li>

      <li class="menuTitle"><a href="javascript:void(0);">ОРГАНИЗАЦИИ</a>
        <ul>
          <li><a href="/customer_companies">Заказчики</a></li>
          <li><a href="/carrier_companies">Перевозчики</a></li>
          <li><a href="/opfs">ОПФ</a></li>
        </ul>
      </li>

      <li class="menuTitle"><a href="javascript:void(0);">ТРАНСПОРТ</a>
        <ul>
          <li><a href="/cars">Машины</a></li>
          <li><a href="/drivers">Водители</a></li>
          <li><a href="javascript:void(0);">Прочее</a>
            <ul>
              <li><a href="/car_models">Модель ТС</a></li>
              <li><a href="/car_types">Тип ТС</a></li>
              <li><a href="/car_tonnages">Тоннаж</a></li>
              <li><a href="/cargo_classifications">Классификация груза</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="menuTitle"><a href="javascript:void(0);">СОТРУДНИКИ</a>
        <ul>
          <li><a href="/users">Пользователи</a></li>
        </ul>
      </li>

      <li class="menuTitle"><a href="javascript:void(0);">БУХГАЛТЕРИЯ</a>
        <ul>
          <li><a href="/finance">Финансы</a></li>
          <li><a href="javascript:void(0);">Прочее</a>
            <ul>
              <li><a href="/incomesection">Статьи прихода</a></li>
              <li><a href="/expenditure">Статьи расхода</a></li>
              <li><a href="/payment_methods">Вид расчёта</a></li>
              <li><a href="/payment_ways">Способы оплаты</a></li>
              <li><a href="/payment_docs">Оплата по документам</a></li>
              <li><a href="/company_faces">Компания в лице</a></li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="menuTitle"><a href="javascript:void(0);">ОТЧЁТЫ</a>
        <ul>
          <li><a href="/salary">Зарплата</a></li>
          <li><a href="/report/bill">Приход по счёту</a></li>
        </ul>
      </li>

      <li style="float: right;"><a style="color:#FFD700;" id='signout' href="/signout">Выход</a></li>

    </ul>
    <br style="clear: left" />
  </div>
  <div id="main-content">
    <br />
    <%= yield %>
  </div>

</body>
</html>
