!!! Strict
%html
  %head
    %title Transunion
    = stylesheet_link_tag :all, "main", :recursive => true
    = javascript_include_tag :defaults, 'livequery_plugin'
    = javascript_include_tag "menu/ddsmoothmenu"
    = yield(:head)
    = javascript_include_tag "jquery-validation/jquery.validate"
    = csrf_meta_tag
    :javascript
      ddsmoothmenu.init({
        mainmenuid: "smoothmenu1", //menu DIV id
        orientation: 'h', //Horizontal or vertical menu: Set to "h" or "v"
        classname: 'ddsmoothmenu', //class added to menu's outer DIV
        contentsource: "markup" //"markup" or ["container_id", "path_to_menu_file"]
      })
    %body
    #smoothmenu1.ddsmoothmenu
      %ul
        %li.menuTitle
          %a#request{:href => "/requests"} ЗАЯВКИ
        %li.menuTitle
          %a{:href => "javascript:void(0);"} ОРГАНИЗАЦИИ
          %ul
            %li
              %a{:href => "/customer_companies"} Заказчики
            %li
              %a{:href => "/carrier_companies"} Перевозчики
            %li
              %a{:href => "/opfs"} ОПФ
        %li.menuTitle
          %a{:href => "javascript:void(0);"} ТРАНСПОРТ
          %ul
            %li
              %a{:href => "/cars"} Машины
            %li
              %a{:href => "/drivers"} Водители
            %li
              %a{:href => "javascript:void(0);"} Прочее
              %ul
                %li
                  %a{:href => "/car_models"} Модель ТС
                %li
                  %a{:href => "/car_types"} Тип ТС
                %li
                  %a{:href => "/car_tonnages"} Тоннаж
                %li
                  %a{:href => "/cargo_classifications"} Классификация груза
        %li.menuTitle
          %a{:href => "javascript:void(0);"} СОТРУДНИКИ
          %ul
            %li
              %a{:href => "/users"} Пользователи
        %li.menuTitle
          %a{:href => "javascript:void(0);"} БУХГАЛТЕРИЯ
          %ul
            %li
              %a{:href => "/finances"} Финансы
            %li
              %a{:href => "javascript:void(0);"} Прочее
              %ul
                %li
                  %a{:href => "/income_sections"} Статьи прихода
                %li
                  %a{:href => "/outcome_sections"} Статьи расхода
                %li
                  %a{:href => "/payment_methods"} Вид расчёта
                %li
                  %a{:href => "/payment_ways"} Способы оплаты
                %li
                  %a{:href => "/payment_docs"} Оплата по документам
                %li
                  %a{:href => "/company_faces"} Компания в лице
        %li.menuTitle
          %a{:href => "javascript:void(0);"} ОТЧЁТЫ
          %ul
            %li
              %a{:href => "/reports/salary"} Зарплата
            %li
              %a{:href => "/reports/income_for_bill"} Приход по счёту
        %li{:style => "float: right;"}
          = link_to "Выход", destroy_member_session_path, :method => :delete, :id => 'signout', :style => 'color:#FFD700'
      %br{:style => "clear: left"}/
    #main-content
      %br/
      %p.notice= notice
      %p.alert= alert
      %br/
      = yield
